<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="PaymentsEntities" connectionString="metadata=res://*/SingleTableInheritance.csdl|res://*/SingleTableInheritance.ssdl|res://*/SingleTableInheritance.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Payments;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="Entities" connectionString="metadata=res://*/PaymentMethods.csdl|res://*/PaymentMethods.ssdl|res://*/PaymentMethods.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Payments;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="MFPaymentModel" connectionString="metadata=res://*/MFPaymentModel.csdl|res://*/MFPaymentModel.ssdl|res://*/MFPaymentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Payments;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
